$small: 480px;

$blue: #5EB4D7;
$green: #1AC5A1;
$green_low_opacity: #1ac5a0be;
$dark_gray: #343635;

$hexagone_size: 190px;
$hexagon_margin: 4px;
$hexagon_shape_outside: calc(1.732 * $hexagone_size + 4 * $hexagon_margin  - 1px);

* {
    margin: 0;
    padding: 0;
    font-family: lemonMilkContent;
}

@font-face {
    font-family: lemonMilkTitle;
    src: url(C:/Projects/front_exercice_iteatime/resources/assets/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: lemonMilkContent;
    src: url(C:/Projects/front_exercice_iteatime/resources/assets/LEMONMILK-Light.otf);
}


body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#menu_items {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.911);
    z-index: 1;
    display: block;
    transform: translateX(-100%);
    position: fixed;

    .items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 50%;
        width: 50%;
        margin: 25%;
        list-style-type: none;
        font-family: lemonMilkTitle;
        font-weight: bold;
        font-size: 1.5rem;
        color: black;
        position: sticky;
    }
}

#header {
    width: 60vw;
    margin: 0 20vw 0 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $small) {
        margin: 0;
        width: 85%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    #dropdown_icon {
        display: none;
        position: relative;
        z-index: 10;
    
        @media (max-width: $small) {
            display: block;
        }
    }

    #logo {
        width: 150px;
        height: 55px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 20px 0 20px 0;
        background-image: url('../assets/logo.png');

        @media (max-width: $small) {
            width: 70px;
            height: 25px;
        }
    }

    #contacts {
        display: flex;
        align-items: center;

        @media (max-width: $small) {
            font-size: 0.6rem;
            flex-wrap: wrap;
            justify-content: end;
            width: 50%;
        }

        #mail {
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            gap: 0.8rem;
            margin-right: 30px;
            cursor: pointer;
            color: #929292;

            @media (max-width: $small) {
                font-size: 0.6rem;
                margin-right: 0;
            }

            svg {
                font-size: 2rem;

                @media (max-width: $small) {
                    font-size: 1.3rem;
                }
            }
        }

        #social_networks {
            display: flex;
            align-items: center;
            justify-content: space-around;

            div {
                font-size: 2rem;
            }

            #facebook {
                color: #93D7CC;
                cursor: pointer;

                @media (max-width: $small) {
                    font-size: 1.3rem;
                }
            }

            #linkedin {
                color: $green;
                cursor: pointer;
                
                @media (max-width: $small) {
                    font-size: 1.3rem;
                }
            }

            #twitter {
                color: #0E9FA2;
                cursor: pointer;
                
                @media (max-width: $small) {
                    font-size: 1.3rem;
                }
            }

            #tumblr {
                color: #1C7DA7;
                cursor: pointer;
                
                @media (max-width: $small) {
                    font-size: 1.3rem;
                }
            }

            #youtube {
                color: #21616B;
                cursor: pointer;
                
                @media (max-width: $small) {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

#header2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 40vh;

    .background_image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../assets/header_background.png')
    }

    #navbar_background {
        width: 100%;
        position: absolute;
        background-color: #d3d3d3b9;
        display: block;

        @media (max-width: $small) {
            display: none;
        }

        #navbar {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 60%;
            margin: 0 20vw 0 20vw;
            height: 8%;
            padding: 10px 0 10px 0;

            .tab {
                color: white;
                cursor: pointer;
                user-select: none;

                &.active {
                    color: $green;
                    border-left: solid 5px $green;
                    padding-left: 10px;
                }
            }

            #searchbar {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                border-radius: 5px;

                input {
                    border: none;
                    margin-left: 15px;
                }

                svg {
                    font-size: 1.2rem;
                    padding: 5px;
                }
            }
        }
    }

    #background_title {
        width: 100%;
        height: calc(92% - 20px);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        bottom: 0;
        color: white;
        font-family: lemonMilkTitle;

        @media (max-width: $small) {
            font-size: 1.3rem;
            height: 100%;
        }

        span:first-child {
            font-weight: bold;
        }
    }
}

#spotlight {
    width: 60vw;
    margin: 0 20vw 0 20vw;

    .section_header {
        margin: 2vh 0 2vh 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .title {
            display: flex;
            justify-content: center;
            align-self: center;
            color: white;
            flex-grow: 1;
            background-color: $green;
            width: 150px;
            padding: 10px 0 10px 0;
            font-family: lemonMilkTitle;

            @media (max-width: $small) {
                font-size: 0.8rem;
                
            }
        }

        .separator {
            height: 1px;
            width: 100%;
            background-color: $green_low_opacity;
            flex-grow: 2;
            margin-left: 20px;
        }
    }

    .item {
        width: 100%;
        height: 30vh;
        display: flex;
        justify-content: space-around;
        gap: 2vw;    
        align-items: center;

        @media (max-width: $small) {
            flex-direction: column;
        }

        .image {
            width: 50%;
            height: 100%;
            position: relative;

            @media (max-width: $small) {
                width: 100%;
            }

            .background_image {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('../assets/convention.png')
            }

            .description {
                position: absolute;
                left: 50px;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
                color: white;
                user-select: none;

                .date {
                    background-color: $green;
                    width: fit-content;
                    padding: 5px 20px 5px 20px;

                    @media (max-width: $small) {
                        font-size: 0.6rem;
                    }
                }

                .title {
                    font-size: 2rem;
                    font-family: lemonMilkTitle;

                    @media (max-width: $small) {
                        font-size: 1rem;
                    }
                }
            }
        }

        .content {
            width: 50%;
            height: fit-content;
            overflow: hidden;
            text-align: justify;
            font-size: 0.8rem;
            text-wrap: balance;    
            display: -webkit-box;
            -webkit-line-clamp: 15;
            -webkit-box-orient: vertical;
            overflow: hidden;

            @media (max-width: $small) {
                width: 100%;
                font-size: 0.6rem;
            }
        }
    }
}

#paralax {
    width: 100%;
    height: 200px;
    margin-top: 70px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/paralax.png')
}

#news {
    width: 60vw;
    margin: 6vh 20vw 5vh 20vw;

    .section_header {
        margin: 2vh 0 2vh 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .title {
            display: flex;
            justify-content: center;
            align-self: center;
            color: white;
            flex-grow: 1;
            background-color: $green;
            width: 150px;
            padding: 10px 0 10px 0;
            font-family: lemonMilkTitle;

            @media (max-width: $small) {
                font-size: 0.8rem;
            }
        }

        .separator {
            height: 1px;
            width: 100%;
            background-color: $green_low_opacity;
            flex-grow: 2;
            margin-left: 20px;
        }
    }

    .item_group {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: space-around;
        gap: 2vw;

        @media (max-width: $small) {
            height: auto;
            flex-direction: column;
            gap: 8vw;
        }

        .item {
            display: flex;
            flex-direction: column;

            .image {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

                @media (max-width: $small) {
                    height: 20vh;
                }

                &#first {
                    background-image: url('../assets/cup.png');
                }

                &#second {
                    background-image: url('../assets/cascadia.png');
                }
            }

            .tag_group {
                display: flex;
                gap: 0.6rem;
                margin: 10px 0 20px 0;

                .tags {
                    background-color: #C9C9C9;
                    color: white;
                    padding: 10px;
                    font-family: lemonMilkTitle;
                    font-size: 0.8rem;

                    @media (max-width: $small) {
                        font-size: 0.8rem;
                    }
                }
            }

            .title {
                font-family: lemonMilkTitle;
                margin-bottom: 10px;

                @media (max-width: $small) {
                    font-size: 0.8rem;
                }
            }

            .description {
                margin-bottom: 20px;
                font-size: 0.8rem;

                @media (max-width: $small) {
                    font-size: 0.6rem;
                }
            }

            button {
                width: fit-content;
                padding: 8px;
                border: solid 2px $green;
                color: $green;
                cursor: pointer;
                font-family: lemonMilkTitle;
                background-color: transparent;

                &:hover {
                    color: white;
                    background-color: $green;
                }
            }
        }
    }
}

#brands {    
    width: 60vw;
    padding: 3vh 20vw 7vh 20vw;
    background-color: #F0F0F0;

    @media (max-width: $small) {
        height: auto;
    }

    .section_header {
        margin: 2vh 0 2vh 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .title {
            display: flex;
            justify-content: center;
            align-self: center;
            color: white;
            flex-grow: 1;
            background-color: $green;
            width: 250px;
            padding: 10px 0 10px 0;
            font-family: lemonMilkTitle;
            text-align: center;

            @media (max-width: $small) {
                font-size: 0.8rem;
            }
        }

        .separator {
            height: 1px;
            width: 100%;
            background-color: $green_low_opacity;
            flex-grow: 2;
            margin-left: 20px;
        }
    }

    .hexagone_content {
        display: flex;
        width: 60vw;
        margin-top: 50px;
        padding-bottom: 50px;

        @media (max-width: $small) {
            $hexagone_size: 100px;
        }

        .hexagones {
            font-size: 0;

            &::before {
                content: "";
                width: calc($hexagone_size/2 + $hexagon_margin);
                float: left;
                height: 120%;
                shape-outside: repeating-linear-gradient(     
                                #0000 0 calc($hexagon_shape_outside - 3px),      
                                #000  0 $hexagon_shape_outside);
            }  

            .hexagone {
                user-select: none;
                width: $hexagone_size;
                margin: $hexagon_margin;
                height: calc($hexagone_size*1.1547); 
                display: inline-block;
                font-size: initial;
                clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
                margin-bottom: calc($hexagon_margin - $hexagone_size*0.2885); 
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;     
                
                &:last-child {
                    @media (max-width: $small) {
                        margin-bottom: 10px;
                    }
                }

                .hover_hex {
                    display: none;
                }

                &:hover {
                    .hover_hex {
                        display: block;
                        color: white;
                        width: 100%;
                        height: 100%;
                        position: relative;
            
                        .content {
                            position: absolute;
                            width: 80%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: center;
                            gap: 1rem;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            left: 50%;

                            @media (max-width: $small) {
                                font-size: 0.6rem;
                            }

                            .divider {
                                height: 3px;
                                background-color: white;
                                width: 100%;
                                margin: 0 30px 0 30px;
                            }

                            .description, .title {
                                text-align: center;
                            }
                        }
            
                        .background {
                            background-color: $green;
                            width: 100%;
                            height: 100%;
                            opacity: 0.5;
                            position: absolute;
                            z-index: -1;
                        }
                    }
                }
            }
            
            .hexagone:first-child {
                background-image: url('../assets/boardgame1.png');
            }
            
            .hexagone:nth-child(2) {
                background-image: url('../assets/boardgame2.png');
            }
            
            .hexagone:nth-child(3) {
                background-image: url('../assets/boardgame3.png');
            }
            
            .hexagone:nth-child(4) {
                background-image: url('../assets/boardgame4.png');
            }
            
            .hexagone:nth-child(5) {
                background-image: url('../assets/boardgame5.png');
            }
            
            .hexagone:nth-child(6) {
                background-image: url('../assets/boardgame6.png');
            }
            
            .hexagone:nth-child(7) {
                background-image: url('../assets/boardgame7.png');
            }
            
            .hexagone:nth-child(8) {
                background-image: url('../assets/boardgame8.png');
            }
            
            .hexagone:nth-child(9) {
                background-image: url('../assets/boardgame9.png');
            }
        }
    }
}

#other {
    width: 60vw;
    height: 20vh;
    padding: 3vh 20vw 3vh 20vw;
    background-color: #E2E2E2;
    display: flex;
    justify-content: space-between;

    @media (max-width: $small) {
        font-size: 0.6rem;
        height: 30vh;
    }

    #documentation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 70%;

        .title {
            background-color: $blue;
            color: white;
            width: 180px;
            padding: 10px 0 10px 0;
            font-family: lemonMilkTitle;
            text-align: center;

            @media (max-width: $small) {
                width: auto;
            }
        }

        #item_list {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .item {
                display: flex;
                gap: 1rem;
                align-items: center;
                cursor: pointer;

                .icon {
                    font-size: 3rem;
                    color: $green;
                    display: flex;
                }
            }
        }
    }

    #newsletter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        
        .title {
            background-color: $blue;
            color: white;
            width: 150px;
            padding: 10px 0 10px 0;
            font-family: lemonMilkTitle;
            text-align: center;

            @media (max-width: $small) {
                width: auto;
            }
        }

        #form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 100%;
            gap: 0.5rem;

            #mail {
                background-color: white;
                font-family: lemonMilkTitle;
                padding: 10px 0 10px 10px;
                border: none;

                @media (max-width: $small) {
                    font-size: 0.6rem;
                }
            }

            .personnal_info {
                display: flex;
                justify-content: space-between;
                width: 100%;
                gap: 0.5rem;

                @media (max-width: $small) {
                    flex-direction: column;
                }

                input {
                    background-color: white;
                    font-family: lemonMilkTitle;
                    padding: 10px 0 10px 10px;
                    width: 50%;
                    border: none;

                    @media (max-width: $small) {
                        width: auto;
                        font-size: 0.6rem;
                    }
                }
            }
        }

        button {
            background-color: transparent;
            color: $green;
            border: solid 2px $green;
            padding: 10px 0 10px 0;
            font-family: lemonMilkTitle;
            text-align: center;
            cursor: pointer;

            @media (max-width: $small) {
                font-size: 0.6rem;
            }

            &:hover {
                background-color: $green;
                color: #E2E2E2;
            }
        }
    }
}

#social_networks_footer {
    width: 60vw;
    height: 10vh;
    padding: 0 20vw 0 20vw;
    background-color: #58B6D0;
    display: flex;
    justify-content: space-evenly;

    @media (max-width: $small) {
        height: auto;
        padding: 2vh 20vw 2vh 20vw;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .social_network {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        color: white;
        padding: 0 2.5% 0 2.5%;
        height: 100%;
        cursor: pointer;
        user-select: none;

        @media (max-width: $small) {
            width: 40%;
            padding: 1vh 2.5% 1vh 2.5%;
        }

        &:hover {
            background-color: #3A9AB3;
        }

        .icon {
            font-size: 2.5rem;
            display: flex;
            border: solid 1px white;
            border-radius: 10px;
            padding: 5px;

            @media (max-width: $small) {
                font-size: 1rem;
            }
        }

        .name {
            @media (max-width: $small) {
                font-size: 0.6rem;
            }
        }
    }
}

#footer {
    width: 60vw;
    height: 30vh;
    padding: 0 20vw 0 20vw;
    background-color: $dark_gray;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    @media (max-width: $small) {
        font-size: 0.6rem;
        height: 90vh;
        padding: 0 15vw 0 15vw;
        width: 70vw;
    }

    .section_list {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        height: 64%;

        @media (max-width: $small) {
            flex-wrap: wrap;
            height: 70%;
        }

        .section {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            @media (max-width: $small) {
                width: auto;
                height: auto;
            }
            
            .title {
                font-family: lemonMilkTitle;
            }

            .title_content {
                font-family: lemonMilkTitle;
                display: flex;
                flex-direction: column;
            }

            &:has(> .button) {
                @media (max-width: $small) {
                    width: 100%;
                }
            }

            .button {
                height: 100%;
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media (max-width: $small) {
                    width: 100%;
                }

                button {
                    background-color: transparent;
                    color: white;
                    border: solid 1px white;
                    padding: 10px;
                    width: 100%;
                    cursor: pointer;

                    &:hover {
                        background-color: white;
                        color: $dark_gray;
                    }
                }
            }

            &:has(> .thumbnails) {
                @media (max-width: $small) {
                    width: 100%;
                }
            }

            .thumbnails {
                width: 100%;
                height: 100%;
                display: flex;
                gap: 1rem;

                .thumbnail {               
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 50%;
                    height: 100%;
                    cursor: pointer;

                    &#youtubeur1 {
                        background-image: url('../assets/youtubeur1.png');
                    }

                    &#youtubeur2 {
                        background-image: url('../assets/youtubeur2.png');
                    }
                }
            }

            .divider {
                width: 30px;
                height: 3px;
                background-color: $green;
                margin: 5px 0 20px 0;
            }

            .logo {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: 70%;
                height: 100%;
                background-image: url('../assets/logo2.png');
            }

            .links {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                font-size: 0.8rem;
                gap: 0.8rem;
                height: 100%;
                cursor: pointer;

                @media (max-width: $small) {
                    font-size: 0.6rem;
                }
            }
        }
    }
}

